{%- assign cite = site.data.publications | where: "datestamp", include.cite | first -%}
{%- if cite -%}
    {%- for creator in cite.creators -%}
        {{creator.name.given}} {{creator.name.family}},
    {% endfor %}
    {%- for editor in cite.editors -%}
        {{editor.name.given}} {{editor.name.family}},
    {% endfor %}

    {%- if cite.official_url -%}
     <a href="https://doi.org/{{ cite.official_url }}">“{{ cite.title }}”</a>
    {%- else -%}
    , “{{ cite.title }}”
    {%- endif -%}

    {%- if cite.journal -%}
    , {{ cite.journal }}
    {%- endif -%}

    {%- if cite.volume -%}
    , vol. {{ cite.volume }}
    {%- endif -%}

    {%- if cite.number -%}
    , iss. {{ cite.number }}
    {%- endif -%}

    {%- if cite.pages -%}
    , p. {{ cite.pages }}
    {%- endif -%}

    {%- if cite.date -%}
    , {{ cite.date }}
    {%- endif -%}
    .
{%- else -%}
ERROR: no citation found
{%- endif -%}
