{%- assign cite = site.data.publications | where: "id", include.cite | first -%}
{%- if cite -%}
    {{ cite.author }}
    {%- if cite.doi -%}
    , <a href="https://doi.org/{{ cite.doi }}">“{{ cite.title }}”</a>
    {%- else -%}
    , “{{ cite.title }}”
    {%- endif -%}

    {%- if cite.journal -%}
    , {{ cite.journal }}
    {%- endif -%}

    {%- if cite.volume -%}
    , vol. {{ cite.volume }}
    {%- endif -%}

    {%- if cite.number -%}
    , iss. {{ cite.number }}
    {%- endif -%}

    {%- if cite.pages -%}
    , p. {{ cite.pages }}
    {%- endif -%}

    {%- if cite.year -%}
    , {{ cite.year }}
    {%- endif -%}
    .
{%- else -%}
ERROR: no citation found
{%- endif -%}
