---
layout: default
---
<article class="app">

  <header class="app-header">
    {% if page.header.app_image %}
    <div class="app-image" style="background-image: url({{ page.header.app_image | relative_url }})"></div>
    {% endif %}
    <h1 class="app-title">{{ page.title | escape }}</h1>
  </header>

  <div class="app-content">
    <h2>Abstract</h2>

    {{ content }}

    <h2>Links</h2>

    <ul>
      <li><a href="{{page.links.website}}">Official Website</a></li>
      <li>Download <a href="{{page.links.download}}">binaries</a></li>
      <li>View the source code and README on <a href="{{page.links.source}}">GitHub</a></li>
    </ul>

    <h2>Please Cite</h2>
      {% for citation in page.cite %}
        <ul><li>{%- include cite.html cite=citation -%}</li></ul>
      {% endfor %}
    <h2>Contact</h2>

    <p>For questions, comments, or suggestions please contact:</p>

    {% assign author = site.people | where:"name", page.contact | first %}

    {{ author.name }}
    <a href="mailto:{{author.social_links.email}}">{{author.social_links.email}}</a>
  </div>

</article>
